<h1>Things to do</h1>
<!-- 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Due date</th>
      <th>Is completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.category %></td>
        <td><%= task.due_date %></td>
        <td><%= task.is_completed %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

  <!-- <form>
    <% @tasks.each do |task| %>
    <div class="row">
      <div class="large-12 columns">
        <%= check_box_tag(:task, task.id) %>
        <%= label_tag(:task, task.name) %>
         <%= link_to 'Show', task %>  |  <%= link_to 'Edit', edit_task_path(task) %>
      </div>
    
    </div>
    <% end %>
  </form> --> 
  <%= form_tag complete_tasks_path, method: :patch do %>
    <%= render 'tasklist' %>
    <%= submit_tag "Mark as Complete", class: "button small" %>
  <% end %>
  

<br>

<%= link_to 'New Task', new_task_path, class:"button round" %>
