<div class="row">
	<div class="large-2 columns">
		<div class="gray-circle">
			<div class="fill">				
				<p>
					<%= link_to 'Back', tasks_path %>	
				</p>				
				
			</div>
		</div>
	</div>
	<div class="large-8 columns">
		<div class="orange-circle">
			<div class="fill">
				<h3>Name:</h3>
	<p><%= @task.name %></p>
			</div>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="gray-circle">
			<div class="fill">
				<p>
					<%= link_to 'Edit', edit_task_path(@task) %>					
				</p>								
				
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="large-7 large-offset-5 columns">
		<div class="purple-circle float-right">
			<div class="fill">
				<h3>Category:</h3>
				<p>
					<%= @task.category %>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<div class="blue-circle">
			<div class="fill">
				<h3>Due Date:</h3>
				<p>
					<%= @task.due_date %>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-8 large-offset-4 columns">
		<div class="orange-circle float-right">
			<div class="fill">
				<h3>Status</h3>
				<p>
					<% if @task.is_completed %>
						Completed
					<% else %>
						Incomplete
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>